/** @format */

.product-content {
    background-color: #e2703a;
}

.box-content {
    border: 3px solid #7300fc;
    padding: 10px;
}

.heading {
    border-left: 3px solid #ff8d2d;
}

.box-all {
    border: 5px solid #7300fc;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.profile-column {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.profile-container {
    background-color: #fff;
}

.profile-card {
    display: flex;
}

.chat-box {
    min-height: 80vh;
    border-right: 2px solid #eeebdd;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.participant-box {
    min-height: 80vh;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
